<% @photos.each do |photo| %>
  <div><%= image_tag (photo.image_path) %></div>
  <div>Title: <%= photo.title %></div>
  <div>Price: <%= photo.price %></div>
  <div><%= button_tag(id: photo.id, type: 'button' )%></div>
<% end %>
